<div class=comment-list >
  <strong>Comment:  </strong>
    <!-- <p> comments\_comment.html </p> -->
  <%= comment.text %>

  <em> Comment created by: </em>
  <%= comment.user.username %>

  <div class= "comm-votes">
    <%= link_to "Upvote" , like_post_comment_path(@post, comment), method: :put %>
    <%= comment.get_upvotes.size %>
    <%= link_to "Downvote" , dislike_post_comment_path(@post, comment), method: :put %>
    <%= comment.get_downvotes.size %>
  </div>

  <% if current_user == comment.user  %>
    <div class="comment-admin">
      <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
      <%= link_to "Delete", [@post, comment] , method: :delete %>
    </div>
  <% end %>

</div>
